@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit";
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:black
}
.section-list {
    padding-left: 10px; 
    margin-left: 0;  
    list-style-position: outside; 
    font-size: 1.1rem;
}

.font-color {
    color: black
}

.authors{
    background-color: #ffffff;
}

.body{
    background-color: #4b2e4f;
}

.footer{
    background-color: #430d4b;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #430d4b;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #ffffff;
}

/* .ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
} */

.procedure{
    background-color: #ffffff;
    padding: 1px;
}

.showcase{
    background-color: #ECBFFF; /*#0096c7*/
}

.icon{
    height: 100px;
    /* width: 100px; */
}

.image-procedure{
    height: auto;
    width: 150px;
}

.image-size{
    height: 400px;
    width: auto;
}
/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}