/* ----------------- Class CSS ----------------- */

/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; */
h1, h2, h3, p {
color:#FFFFFF
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:#FFFFFF
}

.authors{
    background-color: #14213d;
}

.body{
    background-color: #000000ff;
}

.footer{
    background-color: #14213d;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #14213d;
}

.nbMenuItem{               /* navbar link text properties */
    color: #14213d;
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #14213d;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #14213d;
    padding: 1px;
}

.showcase{
    background-color: #000000ff; /*#0096c7*/
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}