@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit";
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:black
}
.nav-link {
    color: white;
}

.nav-link:hover {
    color: #ffcc00; /* Change link color on hover */
}

.section-list {
    padding-left: 10px; 
    margin-left: 0;  
    list-style-position: outside; 
    font-size: 1.1rem;
}

.font-color {
    color: black
}

.authors{
    background-color: #ffffff;
}

.body{
    background-color: #4b2e4f;
}

.footer {
    background-color: #430d4b;
    /* transition: background-color 1s ease-in-out; */
}
.image-size{
    height: auto;
    width: 150px;
}

.image-procedure {
    opacity: 0;
    transition: opacity 1s linear;
}


.text-procedure {
    opacity: 0;
    transition: opacity 1.5s linear;
}
.text-procedure-loaded {
    opacity: 1;
}

.image-procedure-loaded {
    opacity: 1;
}
.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color {
    background-color: #430d4b;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #ffffff;
}


/* Fade-in with Up-Down transition */
.fade-in {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
    animation: fadeInUpAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start 20px down */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move to original position */
    }
}
a {
    color: white; /* Change link color to white */
    text-decoration: none; /* Remove the underline */
}

a:hover {
    color: #ffcc00; /* Optional: Change link color on hover (example: light yellow) */
}

a:focus, a:active {
    outline: none; /* Remove the blue outline when the link is focused */
    box-shadow: none; /* Remove focus/active shadow */
}



.procedure{
    background-color: #ffffff;
    padding: 1px;
}

.showcase{
    background-color: #ECBFFF; /*#0096c7*/
}

.icon{
    height: 100px;
    /* width: 100px; */
}

.image-procedure{
    height: auto;
    width: 150px;
}

.image-size{
    height: 400px;
    width: auto;
}
/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}